<div>
<% @graphs.each do |graph| %>
  <div style="float: left">
    <img src="data:image/png;base64,<%= Base64.encode64(graph[:png]) %>" usemap="#issuerelationsgraph<%= graph[:number] %>"/>
    <%= graph[:map] %>
  </div>
<% end %>
</div>

<script type="text/javascript">
$$('#issue-relations-graph .node, map area').each(function(node) {
  Event.observe(node, 'click', function(event) {
    var event_id = /issue-node-(\d+)/.exec(this.id)[1];
    if (window.name == 'relationgraphpopup') {
      window.opener.document.location = '/issues/' + event_id;
      self.close();
    } else {
      document.location = '/issues/' + event_id;
    }
  });
});
</script>